html {
  box-sizing: border-box;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #262521 70%, #403F3C 100%);
  z-index: -1;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #262521 80%, #30F284 180%);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

body.green-gradient::after {
  opacity: 1;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: 'Bunken Tech Sans SC Wide Med', sans-serif;
  max-width: 85vw;
  max-height: 100vh;
  overflow: visible;
  z-index: 1;
}

/* Congrats message */
.td-congrats-message {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  color: #30F284;
  font-weight: 700;
  background-color: rgb(89, 88, 86, 0.8);
  box-shadow: 0 0 20px 5px rgba(89, 88, 86, 0.6);
  border-radius: 10px;
  padding: 20px;
  border: none;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.td-congrats-message.fade-in {
  opacity: 1; /* Visible */
  transform: translate(-50%, -50%) scale(1); 
}

.td-congrats-message.fade-out {
  opacity: 0; 
  transform: translate(-50%, -50%) scale(0.9); 
}