/* Item Task */
.td-item {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    height: auto;
    border: 2px solid #595856;
    transition-duration: all 0.4s ease-in-out;
    cursor: pointer;
}
.td-item:hover {
    background-color: #595856;
}
.td-item-toogle{
    display: flex;
    align-items: center;
    gap: 5px;
}
.td-item-toogle > :not(label) {
    flex-grow: 1;
    flex-basis: 0;
  }

.td-item-title, .td-item-tr {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin: 0;
    padding: 0.5rem;
}

.td-item-title{
    font-size: 1rem;
    color: #F2F2F2;
    max-width: 400px;
    overflow: auto;
}

.td-item-title-complete {
    text-decoration: line-through;
    color: #BFBFBF;
}
.td-item-tr {
    font-size: 0.8rem;
    color: #BFBFBF;
}

.td-todo-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;
}

.td-item-content {
    color: #F2F2F2;
    font-family: inherit;
}

.hidden-checkbox {
    display: none;
}

.icon-container-check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 1.2rem;
    padding: auto;
    border-radius: 50%;
}

.icon-container-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 20px;
    position: absolute;
    right: -4px;
    top: -6px;
    padding: auto;
}

/* Item title counter */
.td-counter-title {
    color: #F2F2F2;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.8rem;
}

.td-counter-completed {
    color: #30F284;
}
.td-counter-total {
    color: #6852F2;
}

/* Todo Button */
.td-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -20px;
    right: 1px;
    color: #F2F2F2;
    background-color: #595856;
    border-radius: 25%;
    border: none;
    padding: 0.5rem;
    height: 2rem;
    width: 2rem;
    transition: background-color 0.4s ease-in-out;
}
.td-button:hover {
    background-color: #7216F2;
}
.td-button:active {
    background-color: #F29849;
    transform: scale(0.9);
}

/* Input */
.td-input {
    background-color: #F2F2F2;
    color: #595856;
    border: none;
    border-radius: 4px;
    height: 1.4rem;
    width: 70%;
    font-family: 'Bunken Tech Sans SC Wide Med', sans-serif;
}

/* Congrats message */
.td-congrats-message {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: #30F284;
    font-weight: 700;
    background-color: rgb(89, 88, 86, 0.8);
    box-shadow: 0 0 20px 5px rgba(89, 88, 86, 0.6);
    border-radius: 10px;
    padding: 20px;
    border: none;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.td-congrats-message.fade-in {
    opacity: 1; /* Visible */
    transform: translate(-50%, -50%) scale(1); 
}

.td-congrats-message.fade-out {
    opacity: 0; 
    transform: translate(-50%, -50%) scale(0.9); 
}
/* Responsive design */
@media (max-width: 768px) {
    .td-item {
        flex-direction: column;
    }
    .td-counter-title {
        font-size: 1.4rem;
    }
    .td-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}

/* Icons */
.icon-delete-svg {
    height: 40px;
    width: 25px;
}
.icon-check-svg {
    height: 25px;
    width: 25px;
}