html {
  box-sizing: border-box;
  border: 0;
}

body {
  margin: 0;
  background-image: linear-gradient(135deg, #262521 70%, #403F3C 100%);
  display: grid;
  place-items: center;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: 'Bunken Tech Sans SC Wide Med', sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  overflow: visible;
}